---
# VacationPy
---

---
## 6.5.2 Create Heatmaps for Weather Parameters
---

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2021-04-03 01:45:03,22.2855,114.1577,82.99,65,3,4.00
1,1,Faanui,PF,2021-04-03 01:45:03,-16.4833,-151.7500,82.17,68,7,1.21
2,2,Saldanha,ZA,2021-04-03 01:45:03,-33.0117,17.9442,60.04,81,100,5.17
3,3,Cordoba,AR,2021-04-03 01:45:04,-31.4135,-64.1811,66.99,88,40,3.44
4,4,Hermanus,ZA,2021-04-03 01:45:04,-34.4187,19.2345,60.01,73,100,3.00

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

---
## 6.5.3 Get Vacation Criteria
---

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 85

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[ ( city_data_df['Max Temp'] <= max_temp ) & 
                                        ( city_data_df['Max Temp'] >= min_temp ) ].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2021-04-03 01:45:03,22.2855,114.1577,82.99,65,3,4.00
1,1,Faanui,PF,2021-04-03 01:45:03,-16.4833,-151.7500,82.17,68,7,1.21
17,17,Labuan,MY,2021-04-03 01:45:08,5.2767,115.2417,84.20,79,20,3.44
30,30,Atuona,PF,2021-04-03 01:45:12,-9.8000,-139.0333,80.69,80,54,14.81
35,35,Isabela,PH,2021-04-03 01:45:14,6.7085,121.9711,82.40,89,75,9.22
47,47,Denpasar,ID,2021-04-03 01:45:18,-8.6500,115.2167,84.20,79,20,5.75
61,61,Puerto Carreno,CO,2021-04-03 01:44:42,6.1890,-67.4859,83.98,66,100,6.08
62,62,Bengkulu,ID,2021-04-03 01:45:23,-3.8004,102.2655,80.83,76,100,6.33
74,74,Carnarvon,AU,2021-04-03 01:45:28,-24.8667,113.6333,84.20,70,87,13.80
75,75,Sigli,ID,2021-04-03 01:42:55,5.3848,95.9609,81.27,67,99,3.74

In [14]:
# Check if any null values
preferred_cities_df.count()

City_ID       77
City          77
Country       77
Date          77
Lat           77
Lng           77
Max Temp      77
Humidity      77
Cloudiness    77
Wind Speed    77
dtype: int64

---
## 6.5.4 Map Vacation Criteria
---

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Victoria      HK     82.99  22.2855  114.1577
1           Faanui      PF     82.17 -16.4833 -151.7500
17          Labuan      MY     84.20   5.2767  115.2417
30          Atuona      PF     80.69  -9.8000 -139.0333
35         Isabela      PH     82.40   6.7085  121.9711
47        Denpasar      ID     84.20  -8.6500  115.2167
61  Puerto Carreno      CO     83.98   6.1890  -67.4859
62        Bengkulu      ID     80.83  -3.8004  102.2655
74       Carnarvon      AU     84.20 -24.8667  113.6333
75           Sigli      ID     81.27   5.3848   95.9609

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): 
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Victoria,HK,82.99,22.2855,114.1577,Mini Hotel Central
1,Faanui,PF,82.17,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Labuan,MY,84.20,5.2767,115.2417,Tiara Labuan Hotel
30,Atuona,PF,80.69,-9.8000,-139.0333,Villa Enata
35,Isabela,PH,82.40,6.7085,121.9711,Isawad Resort
47,Denpasar,ID,84.20,-8.6500,115.2167,ASTON Denpasar Hotel & Convention Center
61,Puerto Carreno,CO,83.98,6.1890,-67.4859,Casa Hotel Victoria
62,Bengkulu,ID,80.83,-3.8004,102.2655,Grage Hotel Bengkulu
74,Carnarvon,AU,84.20,-24.8667,113.6333,Hospitality Carnarvon
75,Sigli,ID,81.27,5.3848,95.9609,Losmen Dua Mali

#### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))